<app-navigation></app-navigation>
<article class="content">
  <h1>Public Votes</h1>

  <section class="publicVotes">
    <article class="publicVote-container" *ngFor="let publicVote of publicVotes">
      <p *ngIf="publicVote.publicVoteID">publicVoteID</p>
      <p *ngIf="publicVote.firstName">firstName</p>
      <p *ngIf="publicVote.surname">surname</p>
      <p *ngIf="publicVote.jobRequestID">jobRequestID</p>
      <p *ngIf="publicVote.upvotes">upvotes</p>
      <p *ngIf="publicVote.downvotes">downvotes</p>
    </article>
  </section>
</article>
