<app-navigation></app-navigation>
<article class="publicVotes" *ngIf="publicVotes">
  <h1>Public Votes</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Job Request ID</th>
      <th>Upvotes</th>
      <th>Downvotes</th>
    </tr>
    <tr class="publicVote-container" *ngFor="let publicVote of publicVotes">
      <td>{{publicVote.firstName}}</td>
      <td>{{publicVote.surname}}</td>
       <td>
          <a class="publicVote-link" routerLink="/detail/{{publicVote.jobRequestID}}">{{publicVote.jobRequestID}}</a>
       </td>
      <td>{{publicVote.upvotes}}</td>
      <td>{{publicVote.downvotes}}</td>
    </tr>
  </table>
</article>
