<app-navigation></app-navigation>
<article class="content">
    <select name="job type" id="job type" aria-placeholder="lol">
        <option value="road works">Road works</option>
        <option value="gardening">Gardening</option>
    </select>

    <h1>Jobs</h1>

    <section class="jobs">
        <article class="job-container" *ngFor="let job of jobs">
            <img src='{{job.imageReference}}' alt="image">

            <section class="job-details">
                <p *ngIf="job.status" ><b> Approved!!! </b></p>
                <p *ngIf="!job.status" ><b> Pending... </b></p>
                <a routerLink="/detail/{{job.jobRequestID}}">More details</a>
            </section>            
        </article>
    </section>
</article>