<article class="content">
    <select name="job type" id="job type" aria-placeholder="lol">
        <option value="road works">Road works</option>
        <option value="gardening">Gardening</option>
    </select>

    <h1>Jobs</h1>

    <section class="jobs">
        <article class="job-container" *ngFor="let job of jobs">
            <img src='https://cdn.pixabay.com/photo/2023/02/05/17/25/leaves-7770035_960_720.jpg' alt="image">

            <section class="job-details">
                <p>{{job.status}}</p>
                <button>donate</button>
            </section>            
        </article>
    </section>
</article>