<app-navigation></app-navigation>
<hr>
<article class="about-us">
    <h1>ALL4SA</h1>
    <p> ALL4SA is a non-profit organization dedicated to addressing unemployment and improving communities across South Africa. Our mission is to bring together individuals who have the means and willingness to donate, and invest their contributions towards creating sustainable solutions for the challenges facing our society.</p>
    <p>At ALL4SA, we believe that a strong community starts with good jobs and economic opportunities. That's why we work tirelessly to create initiatives that provide training, skills development, and job placement for those who are struggling to find work. Through partnerships with local businesses, government agencies, and other organizations, we aim to create a network of support that benefits all members of the community.</p>
    <p>We understand that creating lasting change requires a long-term commitment. That's why we focus on building sustainable solutions that will endure beyond our immediate efforts. By investing in education, healthcare, and infrastructure, we hope to create a foundation for growth and prosperity that will benefit generations to come.</p>
    <p>At ALL4SA, we are proud to be part of a growing movement of individuals and organizations who are committed to making a positive impact on our society. We believe that by working together, we can create a better future for all South Africans. Thank you for joining us on this journey.</p>
 
    <br>
    <p>Contact us:</p>
    <p>Address: 53 main road, Johannesburg, 2001</p>
    <p>Tell: 011 530 021</p>
</article>
