<app-navigation></app-navigation>

<article>
    <section>
        <article>
            <section>
                <p>Upload Image</p>

                <input type="file" (change)="chooseFile($event)">
                <button (click)="uploadImage()"> upload</button>
            </section>

            <form class="donation-form inner">
                <p><b>Job Information</b></p> <br><br>

                <label for="Description"></label>
                <input type="text" placeholder="Please describe what needs to be done"> <br><br>

                <label for="jobType">Type of work that needs to be done</label>
                <select name="jobType" id="jobType" (change)="calculateEstimateAmount()">
                    <option *ngFor="let jobType of jobTypes" value="{{jobType}}"></option>
                </select>


            </form>
        </article>
    </section>
</article>
